/* HOME */
#home {
  text-align: center;
  padding-top: 12%;
}

.hero {
  height: 200px;
  border-radius: 100%;
  margin: 0 auto;
}

.hero-name {
  font-family: 'Sacramento', cursive;
  color: $secondary-text-color;
}