/* SKILLS */
#skills {
  text-align: center;
  padding-top: 12%;
}

.skill.icon {
  width: 50px;
}

.skill-title {
  font-size: 1.8em;
  margin-top: 15px;
}

.subtext {
  font-size: .8em;
  color: $secondary-text-color;
}